.coming-soon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 134px);
    text-align: center;
    background-color: #282c34;
    color: white;
    font-family: Arial, sans-serif;
}

.coming-soon-container h1 {
    font-size: 4em;
    margin-bottom: 0.5em;
}

.coming-soon-container p {
    font-size: 1.5em;
}